 :root {
   /* --bgColor: #0055aa; */
   /* --fgColor: #e40000; */
   --nameSize: 10px;
   --commentSize: 10px;
 }

 #cw {
   position: fixed;
   z-index: -1;
   cursor: crosshair;
 }

 body {
   margin: 0;
   padding: 0;
   background-color: rgb(0, 0, 0);
   color: white;
   font-size: var(--textSize);
   font-family: sans-serif;
 }

 div {
   margin-bottom: 00px;
  margin: auto;
 }

 .name {
   text-align: left;
   margin: 0 0 0 0;
   margin-bottom: 5%;
   padding-left: 1%;
   font-size: var(--nameSize);
 }

 .comment {
   text-align: left;
   margin: 0 0 0 0;
   padding-left: 1%;
   margin-bottom: 5%;
   font-size: var(--commentSize);
 }

 .delButton{
   padding: 2%;
  margin: 0 0 0 0;

 }

 h1 {
  text-align: center;
  margin-left: auto;
 }

 .backLink {
  position: absolute;
  margin-left: 2.5%;
  margin-top: 1.5%;
  color: white;
  /* text-align: center;
  margin-left: auto; */
 }

 a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}