/* body {
    background-color: rgb(48, 48, 48);
}

canvas {
    border: 1px solid rgb(62, 50, 126);
} */

#cw {
  position: fixed;
  z-index: -1;
  cursor: crosshair;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
}