 :root {
   --bgColor: #0055aa;
   --fgColor: #e40000;
   --textSize: 50px;
 }

 #cw {
   position: fixed;
   z-index: -1;
   cursor: crosshair;
 }

 body {
   margin: 0;
   padding: 0;
   background-color: rgb(0, 0, 0);

 }

 #galleryForm {
   position: fixed;
   top: 10%;
   left: 10%;
   width: 80%;
   height: 80%;
   border-style: solid;
   border-width: 2px;
   border-color: var(--fgColor);
   background-color: var(--bgColor);
   color: white;
   /* visibility: visible; */
   visibility: hidden;
   font-size: var(--textSize);
   z-index: 1;
   padding: 1px;
 }

 #docs {
   position: fixed;
   top: 10%;
   left: 10%;
   width: 80%;
   height: 80%;
   border-style: solid;
   border-width: 2px;
   border-color: var(--fgColor);
   background-color: var(--bgColor);
   color: white;
   /* visibility: visible; */
   visibility: hidden;
   font-size: var(--textSize);
   z-index: 1;
   padding: 1px;
 }

 /* ::placeholder{
  color:rgb(255, 255, 255)
} */

 #nameLab {
   /* text-align: center; */
   position: absolute;
   top: 05%;
   left: 10%;
   width: 80%;
   color: white;
   font-family: sans-serif;
 }

 #commentLab {
   /* text-align: center; */
   position: absolute;
   top: 25%;
   left: 10%;
   width: 80%;
   color: white;
   font-family: sans-serif;
   padding: inherit;
 }

 #name {
   /* text-align: center; */
   position: absolute;
   top: 10%;
   left: 10%;
   width: 78%;
   height: 8%;
   font-size: inherit;
   background-color: inherit;
   color: inherit;
   border-style: inherit;
   border-width: inherit;
   border-color: inherit;
   /* padding: inherit; */
   padding-left: 2%;
 }


 #comment {
   position: absolute;
   top: 30%;
   left: 10%;
   width: 78%;
   height: 35%;
   border-style: inherit;
   border-width: inherit;
   border-color: inherit;
   color: inherit;
   background-color: inherit;
   font-size: inherit;
   resize: none;
   /* padding: inherit; */
   padding-left: 2%;
   padding-top: 2%;

 }

 #submit {
   position: absolute;
   top: 70%;
   left: 10%;
   width: 80%;
   height: 10%;

   background-color: inherit;
   font-size: inherit;
   border-style: inherit;
   border-width: inherit;
   border-color: inherit;
   color: inherit;
   padding: inherit;
 }

 #close {
   position: absolute;
   top: 85%;
   left: 10%;
   width: 80%;
   height: 10%;

   background-color: inherit;
   font-size: inherit;
   border-style: inherit;
   border-width: inherit;
   border-color: inherit;
   color: inherit;
   padding: inherit;
 }
 
 #closeDocs {
   position: absolute;
   top: 85%;
   left: 10%;
   width: 80%;
   height: 10%;

   background-color: inherit;
   font-size: inherit;
   border-style: inherit;
   border-width: inherit;
   border-color: inherit;
   color: inherit;
   padding: inherit;
 }


 #close:active {
   background-color: var(--fgColor);
 }

 #submit:active {
   background-color: var(--fgColor);
 }